<h1>New Capsule</h1>
<div class='capsuleform'>
  <%= form_for @capsule, :html => {:multipart => true}, method: :post do |f| %>    
    <%= f.text_field :title, placeholder: "Capsule title" %>

    <br>

    <%= f.text_field :release_date, id: "datepicker", placeholder: "When do you want this to be opened?" %>

    <br>

    <div class="templateChoice">
	    <h1>
			  Choose a template!
			</h1>

			<div class="cards">
			  <div class="card">
			    <div class="card-image">
			      <%= image_tag 'template_1.png' %>
			    </div>
			    
			    <div class="card-header">
			      Child Over Time
			    </div>
			    
			    <div class="card-copy">
			      <p>
        		Look at your child right now. If you could keep them this young and innocent would you? They will grow and feel pain, saddness and heartbreak, but also happiness, joy and all that life can offer.
     			 </p>
      			<p>
        		Capture your Child over Time in a sule. Open it up years from now and see how you felt on certain days, what picture or moment really got your attention that day. Keep them younger for a little bit longer.
      			</p>


			      <%= f.radio_button :template, 1 %>
			     </div>
			  </div>

			  <div class="card">
			    <div class="card-image">
			      <%= image_tag 'template_2.png' %>
			    </div>
			    
			    <div class="card-header">
			      Love Over Time
			    </div>
			    
			    <div class="card-copy">
			      <p>
        		Finding someone that you love is one of life's miracles. Cherish them, appreciate them whenever you can. Two souls, intertwined. 
      			</p>
      			<p>
        		Take a moment to save your thoughts, your movements together to reflect back on. The smaller shared details is where love can be found. A small moment of laughter remembered forever.
      			</p>

			      <%= f.radio_button :template, 2 %>
			    </div>
			  </div>

			  <div class="card">
			    <div class="card-image">
			      <%= image_tag 'template_3.png' %>
			    </div>
			    
			    <div class="card-header">
			      You Over Time
			    </div>
			    
			    <div class="card-copy">
			       <p>
        		Your journey through life finds meaning in all your interactions, your relationships, your pain and your happiness. To know who you are, you need to know who you were.
      			</p>
      			<p>
        		Capture every moment that impacted you, left you with thoughts that influence you. In the minutae of life is where beauty happens.
      			</p>

			      <%= f.radio_button :template, 3 %>
			    </div>
			  </div>
			</div>
		</div> 

    <%= f.submit "Create your capsule" %>
  <% end %>
</div>