<h2>Your Child grows up too quickly. Their personality develops in ways you could not imagine.</h2>
<h3> Let's start the story of your child today </h3>

<%= form_for [@capsule, @post] do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <p>
        <%= msg %>
      </p>
    <% end %>
  <% end %>

<div id="example3">
  <form id ="form3">
    <fieldset class = 'firstquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'How much did your child weigh at birth?' %>
      <%= f.text_field :body %>
    </div>
    </fieldset>

    <fieldset class = 'secondquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'Describe how your child looks' %>
      <%= f.text_field :body %>
    </div>
    </fieldset>


    <fieldset class = 'thirdquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'Tell your child how you feel about them today' %>
      <%= f.text_field :body %>
    </div>
    </fieldset>


    <fieldset class = 'fourthquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'What do you want the most for your child to know' %>
      <%= f.text_field :body %>
    </div>
    </fieldset>
  </form>

        <%= f.submit 'Submit' %>
</div>

<% end %>

