<h2>Your Child grows up too quickly. Their personality develops in ways you could not imagine.</h2>


<div id="example3" style="text-align:center">
  <form id ="form3">
    <fieldset class = 'firstquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'How much did your child weigh at birth?' %>
      <%= f.text_field :body %>
      <%= f.submit 'Submit', unique: 1 %>
    </fieldset>
  </div>
</div>

<div id="example3" style="text-align:center">
  <form id ="form3">
    <fieldset class = 'secondquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'Describe how your child looks' %>
      <%= f.text_field :body %>
      <%= f.submit 'Submit', unique: 2 %>
    </fieldset>
  </div>
</div>

<div id="example3" style="text-align:center">
  <form id ="form3">
    <fieldset class = 'thirdquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'Tell your child how you feel about them today' %>
      <%= f.text_field :body %>
      <%= f.submit 'Submit', unique: 3 %>
    </fieldset>
  </div>
</div>

<div id="example3" style="text-align:center">
  <form id ="form3">
    <fieldset class = 'fourthquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'What do you want the most for your child to know' %>
      <%= f.text_field :body %>
      <%= f.submit 'Submit', unique: 4 %>
    </fieldset>
  </div>
</div>

