<h2>On the Journey of life, change is inevitable. Capture how time grows you and makes you stronger.</h2>
<h3> Save all your past and help yourself become who you want to be </h3>

<%= form_for @capsule do |f| %>
<div id="example3">
  <form id ="form3">
    <fieldset class = 'firstquestion'>
    <div class="wy-control-group">
      <%= f.fields_for :posts, [Post.new] do |post| %>
      <%= post.label :body, 'How do you feel you have changed in the past year?' %>
      <%= post.text_field :body %>
      <% end %>
    </div>
    </fieldset>

    <fieldset class = 'secondquestion'>
    <div class="wy-control-group">
      <%= f.fields_for :posts, [Post.new] do |post| %>
      <%= post.label :body, 'Describe your biggest success to date' %>
      <%= post.text_field :body %>
      <% end %>
    </div>
    </fieldset>


    <fieldset class = 'thirdquestion'>
    <div class="wy-control-group">
      <%= f.fields_for :posts, [Post.new] do |post| %>
      <%= post.label :body, 'What is something that you want to do this year?' %>
      <%= post.text_field :body %>
      <% end %>
    </div>
    </fieldset>


    <fieldset class = 'fourthquestion'>
    <div class="wy-control-group">
      <%= f.fields_for :posts, [Post.new] do |post| %>
      <%= post.label :body, 'How have you surprised yourself in the past year?' %>
      <%= post.text_field :body %>
      <% end %>
    </div>
    </fieldset>
  </form>

        <%= f.submit 'Submit' %>
</div>

<% end %>