<h2>On the Journey of life, change is inevitable. Capture how time grows you and makes you stronger.</h2>


<div id="example3" style="text-align:center">
  <form id ="form3">
    <fieldset class = 'firstquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'What did you feel the first time you met your significant other?' %>
      <%= f.text_field :body %>
      <%= f.submit 'Submit', unique: 9 %>
    </fieldset>
  </div>
</div>

<div id="example3" style="text-align:center">
  <form id ="form3">
    <fieldset class = 'secondquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'Describe your biggest success to date' %>
      <%= f.text_field :body %>
      <%= f.submit 'Submit', unique: 10 %>
    </fieldset>
  </div>
</div>

<div id="example3" style="text-align:center">
  <form id ="form3">
    <fieldset class = 'thirdquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'What is something that you want to do this year?' %>
      <%= f.text_field :body %>
      <%= f.submit 'Submit', unique: 11 %>
    </fieldset>
  </div>
</div>

<div id="example3" style="text-align:center">
  <form id ="form3">
    <fieldset class = 'fourthquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'How have you surprised yourself in the past year?' %>
      <%= f.text_field :body %>
      <%= f.submit 'Submit', unique: 12 %>
    </fieldset>
  </div>
</div>

