
<%= form_for [@capsule, @post], remote: true do |f| %>
	<% if @post.errors.any? %>
 		<% @post.errors.full_messages.each do |msg| %>
   		<p><%= msg %> </p>
   	<% end %>
	<% end %>

<% if @capsule.template = 1 %>

<%= render partial: 'child', object: @capsule %>

<% elsif @capsule.template = 2 %>

<%= render partial: 'love', object:  @capsule %>

<% elsif @capsule.template = 3 %>

<%= render partial: 'you', object:  @capsule %>

<% end %>

<% end %>