<% if @capsule.release_date > Time.now %>
	<h1>
		This capsule will open in
		<%= @year_remaining %> years
		<%= @month_remaining %> months and
		<%= @day_remaining %> days
	</h1>
<% else %>
	<h1>
		<% @capsule.posts.each do |t| %>
		<p>
			<%= t.posts %>
		</p>
	<!-- 		<%= t.images %>
			<%= t.videos %> -->
		<% end %>
	</h1>
<% end %>