<div class="show">
	<% if @capsule.release_date > Time.now %>
		<div class="dateTime">
			<% if @capsule.release_date.day > 01 %>
				<h1>
					This capsule will open in
					<%= @year_remaining %> years, <%= @month_remaining %> months, and <%= @day_remaining %> days
				</h1>
			<% elsif @capsule.release_date.day == 01 %>
				<h1>
					This capsule will open in
					<%= @year_remaining %> years, <%= @month_remaining %> months, and <%= @day_remaining %> day
				</h1>
			<% end %>
		</div>
	<% else %>
		<div class="grid-items">
			<% @capsule.posts.each do |t| %>
				<a href="javascript:void(0)" class="grid-item">
					<h1>
						<%= t.title %>
					</h1>
					
					<p>
						<%= t.body %>
					</p>
					
					<p>
						<%= "#{t.created_at.month}/#{t.created_at.day}/#{t.created_at.year}" %>
					</p>
				</a>
			<% end %>

			<% @capsule.images.each do |t| %>
				<a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
					<p>
						<%= t.title %>
					</p>
					<%= image_tag t.image_url.to_s, class: "capsuleImages" %>

				</a>

			<% end %>
			
			<% if @capsule.video? %>
				<a href="javascript:void(0)" class="grid-item grid-item-big">
					<%= video_tag @capsule.video_url.to_s %>
				</a>
			<% end %>
		</div>
	<% end %>

	<% if @capsule.user == current_user %>
		<div class="submits">
			<h1>
				Add a memory to the time capsule
			</h1>
				
			<div class="mediaSubmit">
				<%= form_for [@capsule, @image], :html => {:multipart => true}, class: 'newMedia' do |f| %>
					<!-- <fieldset> -->
					<h2>
						<%= f.label :name, "Captured memory" %>
					</h2>

					
					<p class="image field">
						<%= f.file_field :image %>
					</p>

					<div class="photoSubmit">
						<%= f.submit %>	
					</div>
					<!-- </fieldset> -->
				<% end %>
			</div>
			
			<div class="postSubmit">
				<%= form_for [@capsule, @post] do |f| %>
					<% if @post.errors.any? %>
						<% @post.errors.full_messages.each do |msg| %>
					   <p>
						   <%= msg %>
					   </p>
						<% end %>
					<% end %>

					<div class="memory">
				  <!--   <fieldset class = 'firstquestion'> -->
					    <div class="wy-control-group">
					    	<%= f.label :body, 'Submit a memory' %>
					      
					      <%= f.text_area :body, placeholder: 'Write about something that happened today, add a photo or even a video' %>
					      
					      <%= f.hidden_field :unique, value: 1 %>
					      
					      <%= f.submit 'Submit',  :onclick => "ReplaceForm()" %>
					    </div>
				    <!-- </fieldset> -->
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
