<h2>Your Child grows up too quickly. Their personality develops in ways you could not imagine.</h2>


<%= form_for [@capsule, @post] do |f| %>
<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
    <p><%= msg %> </p>
    <% end %>
<% end %>

  <form class="{$modifiers}">
    <fieldset>
    <div class="wy-control-group">
    	<%= f.label :body, 'How much did your child weigh at birth?' %>
      <%= f.text_field :body %>
      <%= f.hidden_field :unique, value: 1 %>
      <%= f.submit 'Submit' %>
    </fieldset>
    <fieldset>
    <div class="wy-control-group">
      <%= f.label :body, 'Describe how your child looks' %>
      <%= f.text_field :body %>
      <%= f.hidden_field :unique, value: 2 %>
      <%= f.submit 'Submit' %>
    </fieldset>
    <fieldset>
    <div class="wy-control-group">
      <%= f.label :body, ' What do you want most for your child?' %>
      <%= f.text_field :body %>
      <%= f.hidden_field :unique, value: 3 %>
      <%= f.submit 'Submit' %>
    </fieldset>
    <fieldset>
    <div class="wy-control-group">
      <%= f.label :body, "What is something you'd want to tell your child when they are older?" %>
      <%= f.text_field :body %>
      <%= f.hidden_field :unique, value: 3 %>
      <%= f.submit 'Submit' %>
    </fieldset>
  </form>
<% end %>