<h2>Your Child grows up too quickly. Their personality develops in ways you could not imagine.</h2>


<%= form_for [@capsule, @post], remote: true do |f| %>
<% if @post.errors.any? %>
 <% @post.errors.full_messages.each do |msg| %>
   <p><%= msg %> </p>
   <% end %>
<% end %>


<div id="example3" style="text-align:center; border:1px solid black; padding:10px;">
  <form id ="form3">
    <fieldset class = 'firstquestion'>
    <div class="wy-control-group">
    	<%= f.label :body, 'How much did your child weigh at birth?' %>
      <%= f.text_field :body %>
      <%= f.hidden_field :unique, value: 1 %>
      <%= f.submit 'Submit',  :onclick => "ReplaceForm()" %>
    </fieldset>
  </div>
</div>

<div id="for_replacement" style="display:none;">

    <fieldset id = 'secondquestion'>
    <div class="wy-control-group">
      <%= f.label :body, 'Describe how your child looks' %>
      <%= f.text_field :body %>
      <%= f.hidden_field :unique, value: 2 %>
      <%= f.submit 'Submit' %>
    </fieldset>
  </div>
  </form>
</div>

  
  <script type="text/javascript">
function ReplaceForm()
{
// Three places to customize:

// Specify the id of the form.
var IDofForm = "form3";

// Specify the id of the div containing the form.
var IDofDivWithForm = "example3";

// Specify the id of the div with the content to replace the form with.
var IDforReplacement = "for_replacement";

// End of customizations.

// This line submits the form. (If Ajax processed, call Ajax function, instead.)
document.getElementById(IDofForm).submit();

// This replaces the form with the replacement content.
document.getElementById(IDofDivWithForm).innerHTML = document.getElementById(IDforReplacement).innerHTML;
}
</script>
<% end %>

