<!DOCTYPE html>
<html>
<head>
  <title>Sule</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>
  
  <%= javascript_include_tag 'application'  %>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.css"/>
  <%= favicon_link_tag %>
</head>
<body>

    <div class='header'>
      <h1 style="display: inline-block;">Sulé</h1>
      <nav>
        <ul>
          <% if user_signed_in? %>
              <div class="dropdown">
                <div class="dropdown-container">
                  <p class="dropdown-description"><i><%=current_user.email%></i></p>
                  <p class="dropdown-button"><%= image_tag('Black_wrench_24.png')%></p>
                  <ul class="dropdown-menu dropdown-select">
                    <li><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
                    <li><%=link_to 'New Capsule', new_capsule_path %></li>
                    <li><%=link_to 'Capsules', capsules_path%></li>
                    <li><%=link_to 'Settings', edit_user_registration_path %></li>
                  </ul>
                </div>
              </div>
              <% else %>
              <li>
                <label for="modal-1"><div class="modal-trigger">Login / Signup</div></label>
              </li>

          <% end%>
        </ul>
      </nav>
    </div>

    <!-- modal stuff -->
    <div class="modal">
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-1">Close</div>
          <hr>
          <div class="modal-content">
            <h2>Log in</h2>
            <%= form_for User.new, url: user_session_path do |f| %>
                <div class="field">
                  <%= f.email_field :email, autofocus: true, placeholder: 'email' %>
                </div>

                <div class="field">
                  <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
                </div>

                <div class="actions">
                  <%= f.submit "Log in" %>
                </div>
                <div class="actions">
               <%= link_to "Forgot your password?", new_password_path(:user) %>
             </div>
            <% end %>
            <hr>
            <h2>Sign up</h2>

            <%= form_for User.create, url: user_registration_path do |f| %>

                <div class="field">
                  <%= f.email_field :email, autofocus: true, placeholder: 'email'%>
                </div>

                <div class="field">
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
                </div>

                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'password confirmation' %>
                </div>

                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
            <% end %>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="bgimg">
      <div class="yield">

        <% if flash[:notice] %> 
        <p id="notice"><%= notice %></p>
        <% end %>
        <% if flash[:alert] %>
        <p id="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>


<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.min.js"></script>
</body>
</html>
